.header {
  height: 475px;
  width: 100%;
  justify-content: center;
  background-color: #ccd6dd;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.avatar {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

.header p {
  font-size: xxx-large;
}