nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  color: white;
  position: fixed;
  top: 0;
}

nav span {
  display: flex;
  align-items: center;
  font-family: "Bungee";
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav p {
  line-height: 0;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

nav button {
  color: white;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

nav button:hover {
  color: #d5e0e7;
}