.navbar {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: white;
}

.navbar span {
  display: flex;
  align-items: center;
  font-family: "Bungee";
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  line-height: 0;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.navbar button {
  color: white;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}