.textbox {
  width: 100%;
  height: 60px;
  background: none;
  color: #58544C;
  border-color: #58544C;
  border-width: 5px;
  border-top: none;
  border-right: none;
  border-left: none;
  overflow: none;
  outline: none;
  box-shadow: none;
  resize: none;
  font-size: xx-large;
  font-weight: bold;
}

.textbox::-webkit-input-placeholder {
  color: #58544C;
}

.error-popup {
  display: flex;
  align-items: center;
}

.new-tweet p {
  color: red;
  font-weight: bold;
  margin: 1em 0;
}

.new-tweet i {
  color: red;
}

.under-textbox {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
  font-family: "Bungee";
}

.under-textbox button {
  border: none;
  background-color: #4056A1;
  color: white;
  padding: 5px 15px;
}

.under-textbox button:hover{
  box-shadow: 5px 5px #9b9892;
}

.under-textbox output {
  margin-right: 1em;
}